.projetos_section {
    width: 100%;
    height: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-align: center;
}

.container_title{
    padding: 10px;

}

.container_title:hover {
    transform: scale(1.1);
    background-color: black;
    transform: rotate(0deg);
    transition: 1s;
    color: white;
  
   
}

.projetos_section h2 {
    
    font-size: 33px;
    width: 100%;
    text-align: center;
    
}

