/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background-color: #FFFFFF;
  --text-color: #4B5320;
  --secondary-text-color: #000000;
  --extra-color: #3D2B1F;
  --secondary-background-color: #C0C0C0;
  --important-color: #800000;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #828282;
}

/* Body Styles */
body {
  scrollbar-width: thin;
  scrollbar-color: #3498db #f1f1f1;

  background-color: var(--background-color);
  margin: 0;
  transition: 1s;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}

/* Responsivo */
@media (max-width: 767px) {
  /* Adicione estilos específicos para telas menores que 768px, se necessário */
}

/* Lista de Projetos Styles */
.projetos_container {
  width: 100%;
  height: 100%;
}

